/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Swiper 11.2.10
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2025 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: June 28, 2025
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */
/*========================================
*	common
========================================*/
::selection {
  color: #fff;
  background: #222222;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body {
  font-size: 62.5%;
  color: #222222;
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  width: 100%;
}
a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3 {
  line-height: 1;
}

ul,
li {
  list-style: none;
}

tr,
th,
td {
  font-weight: normal;
  text-align: left;
}

img,
picture {
  -webkit-backface-visibility: hidden;
  width: 100%;
  max-width: 100%;
  height: auto;
  pointer-events: none;
  vertical-align: bottom;
}

.pc-none {
  display: none;
}
@media only screen and (max-width: 750px) {
  .pc-none {
    display: block;
  }
}

@media only screen and (min-width: 751px) {
  .sp-none {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .sp-none {
    display: none;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  body > * {
    display: none;
  }
  .common__lock {
    display: flex;
  }
}
.common__main {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 750px) {
  .common__main {
    background: transparent url(../img/common/bg_repeat.jpg) repeat-y top center;
    background-size: 100% auto;
    width: 100%;
  }
}
.common__loading {
  background-color: #e34557;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transform: translate3d(0, 0, 0);
}
.common__loading.js--hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 800ms;
}
.common__loading-item {
  width: 82.6666666667vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 751px) {
  .common__loading-item {
    width: 414px;
  }
}
@media only screen and (min-width: 751px) {
  .common__bg {
    display: block;
    background: transparent url(../img/common/bg_pc.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }
}
.common__line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 2.1333333333vw;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .common__line {
    height: 9.6px;
  }
}
.common__line::before, .common__line::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #222222;
}
.common__line:before {
  height: 1.0666666667vw;
}
@media only screen and (min-width: 751px) {
  .common__line:before {
    height: 4.8px;
  }
}
.common__line:after {
  height: 0.5333333333vw;
}
@media only screen and (min-width: 751px) {
  .common__line:after {
    height: 2.4px;
  }
}
.common__line.rotate {
  transform: rotate(180deg);
}
.common__article {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 751px) {
  .common__article {
    width: 450px;
    height: 100vh;
    outline: 4.8px solid #e34557;
  }
}
.common__wrap {
  width: 100%;
}
@media only screen and (min-width: 751px) {
  .common__wrap {
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .common__wrap::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (min-width: 751px) {
  .common__container {
    background: transparent url(../img/common/bg_repeat.jpg) repeat-y top center;
    background-size: 100% auto;
    width: 100%;
  }
}
.common__label {
  display: flex;
  justify-content: space-between;
  padding: 2.6666666667vw 4vw 0;
  margin: 0 auto 0.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .common__label {
    padding: 12px 18px 0;
    margin: 0 auto 3px;
  }
}
.common__label-name, .common__label-date {
  font-family: "Libre Baskerville", serif;
  font-size: 2.1333333333vw;
  font-weight: 700;
  letter-spacing: -0.075em;
}
@media only screen and (min-width: 751px) {
  .common__label-name, .common__label-date {
    font-size: 9.6px;
  }
}
.common__h1 {
  width: 100%;
}
.common__inner {
  padding: 0 4vw;
}
@media only screen and (min-width: 751px) {
  .common__inner {
    padding: 0 18px;
  }
}
.common__lock {
  display: none;
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  .common__lock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e34557;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .common__lock-inner {
    width: 66.6666666667vh;
  }
}

.footer {
  margin-top: 10.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .footer {
    margin-top: 48px;
  }
}
.footer__app {
  margin-top: 8.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .footer__app {
    margin-top: 39px;
  }
}
.footer__app-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}
@media only screen and (min-width: 751px) {
  .footer__app-wrap {
    gap: 18px;
  }
}
.footer__app-icon {
  width: 29.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .footer__app-icon {
    width: 132px;
  }
}
.footer__app-download {
  width: 41.2vw;
}
@media only screen and (min-width: 751px) {
  .footer__app-download {
    width: 185.4px;
  }
}
.footer__app-download a {
  display: block;
}
@media only screen and (min-width: 751px) {
  .footer__app-download a {
    transition: all 300ms;
  }
  .footer__app-download a:hover {
    opacity: 0.8;
  }
}
.footer__app-download a:not(:first-of-type) {
  margin-top: 2vw;
}
@media only screen and (min-width: 751px) {
  .footer__app-download a:not(:first-of-type) {
    margin-top: 9px;
  }
}
.footer__app-spec {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.6666666667vw;
  margin: 6.4vw auto 0;
  width: 74.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .footer__app-spec {
    gap: 12px;
    margin-top: 28.8px;
    width: 336px;
  }
}
.footer__app-spec dt,
.footer__app-spec dd {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.2vw;
  line-height: 1.1666666667;
}
@media only screen and (min-width: 751px) {
  .footer__app-spec dt,
  .footer__app-spec dd {
    font-size: 14.4px;
  }
}
.footer__app-spec dt {
  font-weight: 700;
}
.footer__app-spec dd {
  font-weight: 400;
}
.footer__app-notes {
  margin: 5.3333333333vw auto 0;
  width: 74.6666666667vw;
  padding-left: 1.02em;
}
@media only screen and (min-width: 751px) {
  .footer__app-notes {
    margin-top: 24px;
    width: 336px;
  }
}
.footer__app-notes li {
  color: #535353;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4vw;
  line-height: 1.3333333333;
  letter-spacing: 0.02em;
  text-indent: -1.02em;
}
@media only screen and (min-width: 751px) {
  .footer__app-notes li {
    font-size: 10.8px;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6.4vw 4vw;
  border-top: solid 0.5333333333vw #222222;
  border-bottom: solid 0.5333333333vw #222222;
  margin-top: 8vw;
}
@media only screen and (min-width: 751px) {
  .footer__nav {
    padding: 28.8px 18px;
    border-top-width: 2.4px;
    border-bottom-width: 2.4px;
    margin-top: 36px;
  }
}
.footer__nav a {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4vw;
  font-weight: 700;
}
@media only screen and (min-width: 751px) {
  .footer__nav a {
    font-size: 10.8px;
    transition: all 300ms;
  }
  .footer__nav a:hover {
    opacity: 0.8;
  }
}
.footer__btm {
  padding: 6.4vw 4vw 5.0666666667vw;
}
@media only screen and (min-width: 751px) {
  .footer__btm {
    padding: 28.8px 18px 22.8px;
  }
}
.footer__btm-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.6vw 5.7333333333vw;
  padding: 0 14.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .footer__btm-logo {
    gap: 16.2px 25.8px;
    padding: 0 60px;
  }
}
.footer__btm-logo a {
  display: block;
}
@media only screen and (min-width: 751px) {
  .footer__btm-logo a {
    transition: all 300ms;
  }
  .footer__btm-logo a:hover {
    opacity: 0.8;
  }
}
.footer__btm-logo a:first-of-type {
  width: 44.8vw;
}
@media only screen and (min-width: 751px) {
  .footer__btm-logo a:first-of-type {
    width: 201.6px;
  }
}
.footer__btm-logo a:nth-of-type(2) {
  width: 15.0666666667vw;
}
@media only screen and (min-width: 751px) {
  .footer__btm-logo a:nth-of-type(2) {
    width: 67.8px;
  }
}
.footer__btm-logo a:last-of-type {
  width: 22.8vw;
}
@media only screen and (min-width: 751px) {
  .footer__btm-logo a:last-of-type {
    width: 102.6px;
  }
}
.footer__btm-copy {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.6666666667vw;
  font-weight: 400;
  font-feature-settings: "palt";
  text-align: center;
  margin-top: 6.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .footer__btm-copy {
    font-size: 12px;
    margin-top: 30px;
  }
}
.footer__btm-copy span {
  display: block;
  font-size: 2.4vw;
  margin-top: 4vw;
}
@media only screen and (min-width: 751px) {
  .footer__btm-copy span {
    font-size: 10.8px;
    margin-top: 18px;
  }
}

.top__share {
  margin-top: 8vw;
}
@media only screen and (min-width: 751px) {
  .top__share {
    margin-top: 36px;
  }
}
.top__share-btn {
  background-color: #222222;
  border-radius: 5.7333333333vw;
  color: #fff;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 4.2666666667vw;
  font-weight: 900;
  margin: 2vw auto 0;
  width: 52.2666666667vw;
  height: 11.7333333333vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9333333333vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (min-width: 751px) {
  .top__share-btn {
    border-radius: 25.8px;
    font-size: 19.2px;
    margin-top: 9px;
    width: 235.2px;
    height: 52.8px;
    gap: 4.2px;
    transition: all 300ms;
  }
  .top__share-btn:hover {
    opacity: 0.8;
  }
}
.top__share-btn span {
  display: block;
  width: 4.1333333333vw;
  padding-bottom: 0.2666666667vw;
}
@media only screen and (min-width: 751px) {
  .top__share-btn span {
    width: 18.6px;
    padding-bottom: 1.2px;
  }
}
.top__share-btn:before {
  display: block;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 32.8vw;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
@media only screen and (min-width: 751px) {
  .top__share-btn:before {
    width: 147.6px;
  }
}
.top__share-btn:after {
  display: block;
  content: "";
  border: 0.2666666667vw solid rgba(255, 255, 255, 0.2);
  border-radius: 5.7333333333vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top__share-btn:after {
    border-radius: 25.8px;
    border-width: 1.2px;
  }
}
.top__share-txt {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 3.2vw;
  font-weight: 500;
  line-height: 1.3333333333;
  text-align: center;
  margin-top: 3.7333333333vw;
}
@media only screen and (min-width: 751px) {
  .top__share-txt {
    font-size: 14.4px;
    margin-top: 16.8px;
  }
}

.top-player {
  margin-top: 4vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (min-width: 751px) {
  .top-player {
    margin-top: 18px;
  }
}
.top-player__pass {
  background-color: #e34557;
  box-shadow: 0.8vw 1.0666666667vw 0 rgba(34, 34, 34, 0.1);
  margin-top: 5.3333333333vw;
  padding: 2.6666666667vw 2.4vw 2.4vw;
  position: relative;
  width: 92vw;
  transform: rotate(-4.45deg);
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__pass {
    box-shadow: 3.6px 4.8px 0 rgba(34, 34, 34, 0.1);
    margin-top: 24px;
    padding: 12px 10.8px 10.8px;
    width: 414px;
  }
}
.top-player__pass:before {
  display: block;
  content: "";
  pointer-events: none;
  background-color: rgba(255, 225, 225, 0.2);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  width: 80.2666666667vw;
  height: 23.7333333333vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media only screen and (min-width: 751px) {
  .top-player__pass:before {
    width: 361.2px;
    height: 106.8px;
  }
}
.top-player__pass-ttl {
  font-family: "Roboto", sans-serif;
  font-size: 8.1333333333vw;
  font-weight: 900;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__pass-ttl {
    font-size: 36.6px;
  }
}
.top-player__pass-ttl:before, .top-player__pass-ttl:after {
  content: "";
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 1;
}
.top-player__pass-ttl::before {
  background-image: url(../img/parts_star_left.png);
  width: 6.9333333333vw;
  height: 8.2666666667vw;
  left: 0.4vw;
}
@media only screen and (min-width: 751px) {
  .top-player__pass-ttl::before {
    width: 31.2px;
    height: 37.2px;
    left: 1.8px;
  }
}
.top-player__pass-ttl::after {
  background-image: url(../img/parts_star_right.png);
  width: 7.7333333333vw;
  height: 8.4vw;
  right: 0.4vw;
}
@media only screen and (min-width: 751px) {
  .top-player__pass-ttl::after {
    width: 34.8px;
    height: 37.8px;
    right: 1.8px;
  }
}
.top-player__identity {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 2.6666666667vw 4vw;
  margin-top: 1.0666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__identity {
    padding: 12px 18px;
    margin-top: 4.8px;
  }
}
.top-player__identity:not(:first-of-type) {
  margin-top: 1.7333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__identity:not(:first-of-type) {
    margin-top: 7.8px;
  }
}
.top-player__identity dt,
.top-player__identity dd {
  font-family: "Roboto", sans-serif;
  font-size: 4.6666666667vw;
  font-weight: 500;
  letter-spacing: -0.05em;
}
@media only screen and (min-width: 751px) {
  .top-player__identity dt,
  .top-player__identity dd {
    font-size: 21px;
  }
}
.top-player__identity dt {
  color: #e34557;
  width: 16.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__identity dt {
    width: 75px;
  }
}
.top-player__identity dd {
  width: calc(100% - 16.6666666667vw);
}
@media only screen and (min-width: 751px) {
  .top-player__identity dd {
    width: calc(100% - 75px);
  }
}
.top-player__identity dd.top-player__identity-name {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 6vw;
  font-weight: 500;
}
@media only screen and (min-width: 751px) {
  .top-player__identity dd.top-player__identity-name {
    font-size: 27px;
  }
}
.top-player__data {
  padding-top: 13.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data {
    padding-top: 60px;
  }
}
.top-player__data-block:not(:first-of-type) {
  margin-top: 6.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-block:not(:first-of-type) {
    margin-top: 30px;
  }
}
.top-player__data-h2 {
  padding-bottom: 8vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-h2 {
    padding-bottom: 36px;
  }
}
.top-player__data-inner {
  padding: 0 9.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-inner {
    padding: 0 42px;
  }
}
.top-player__data-item h3 {
  background-color: #222222;
  color: #fff;
  text-align: center;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 4.5333333333vw;
  font-weight: 700;
  letter-spacing: -0.025em;
  padding: 0.2666666667vw 2vw 0.6666666667vw;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__data-item h3 {
    font-size: 20.4px;
    padding: 1.2px 9px 3px;
  }
}
.top-player__data-item h3:before, .top-player__data-item h3:after {
  content: "";
  display: block;
  background: transparent url(../img/parts_star.png) no-repeat center center;
  background-size: contain;
  width: 3.6vw;
  height: 3.4666666667vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}
@media only screen and (min-width: 751px) {
  .top-player__data-item h3:before, .top-player__data-item h3:after {
    width: 16.2px;
    height: 15.6px;
  }
}
.top-player__data-item h3:before {
  left: 1.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-item h3:before {
    left: 6px;
  }
}
.top-player__data-item h3:after {
  right: 1.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-item h3:after {
    right: 6px;
  }
}
.top-player__data-txt {
  font-size: 6.4vw;
  font-weight: 500;
  text-align: center;
  margin-top: 1.3333333333vw;
  padding-bottom: 4vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-txt {
    font-size: 28.8px;
    margin-top: 6px;
    padding-bottom: 18px;
  }
}
.top-player__data-txt .number {
  font-size: 14.4vw;
  color: #e34557;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
}
@media only screen and (min-width: 751px) {
  .top-player__data-txt .number {
    font-size: 64.8px;
  }
}
.top-player__data-txt.txt-medium {
  font-size: 4.2666666667vw;
  font-weight: 500;
  line-height: 1.87375;
  padding-bottom: 8vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-txt.txt-medium {
    font-size: 19.2px;
    padding-bottom: 36px;
  }
}
.top-player__data-txt.txt-medium span {
  display: block;
  line-height: 1;
}
.top-player__data-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4vw;
  margin-top: 4vw;
  padding-bottom: 7.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-list {
    gap: 10.8px;
    margin-top: 18px;
    padding-bottom: 33px;
  }
}
.top-player__data-list li {
  border: 1px solid #222222;
  border-radius: 6vw;
  width: 25.3333333333vw;
  height: 27.4666666667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.8666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-list li {
    border-radius: 27px;
    width: 114px;
    height: 123.6px;
    gap: 8.4px;
  }
}
.top-player__data-list li p {
  text-align: center;
  font-size: 4.2666666667vw;
  font-weight: 500;
}
@media only screen and (min-width: 751px) {
  .top-player__data-list li p {
    font-size: 19.2px;
  }
}
.top-player__data-list li p:first-of-type {
  font-size: 3.7333333333vw;
  font-weight: 700;
  text-align: center;
  line-height: 1.1071428571;
}
@media only screen and (min-width: 751px) {
  .top-player__data-list li p:first-of-type {
    font-size: 16.8px;
  }
}
.top-player__data-list li .number {
  font-family: "Roboto", sans-serif;
  color: #e34557;
  font-size: 8.5333333333vw;
  font-weight: 500;
}
@media only screen and (min-width: 751px) {
  .top-player__data-list li .number {
    font-size: 38.4px;
  }
}
.top-player__data-name {
  color: #e34557;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 12.8vw;
  font-weight: 900;
  text-align: center;
  letter-spacing: -0.05em;
  padding-bottom: 6.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-name {
    font-size: 57.6px;
    padding-bottom: 30px;
  }
}
.top-player__data-dtl {
  color: #222222;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.top-player__data-dtl > p {
  margin-top: 1.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-dtl > p {
    margin-top: 6px;
  }
}
.top-player__data-dtl > p .number {
  font-size: 14.4vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-dtl > p .number {
    font-size: 64.8px;
  }
}
.top-player__data-dtl:has(.top-player__data-card) .top-player__data-name {
  padding-bottom: 0;
}
.top-player__data-card {
  color: #222222;
  text-align: center;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 4.2666666667vw;
  font-weight: 700;
  margin-top: 2.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-card {
    font-size: 19.2px;
    margin-top: 12px;
  }
}
.top-player__data-card .card-name {
  margin-top: 2.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-card .card-name {
    margin-top: 12px;
  }
}
.top-player__data-chara {
  position: relative;
  z-index: 1;
  margin-top: 2.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-chara {
    margin-top: 12px;
  }
}
.top-player__data-chara p {
  width: 92vw;
  position: absolute;
  left: 4vw;
  bottom: 33.8666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-chara p {
    width: 414px;
    left: 18px;
    bottom: 152.4px;
  }
}
.top-player__data-song {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5.3333333333vw;
  margin-top: 6.6666666667vw;
  padding-bottom: 7.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-song {
    gap: 24px;
    margin-top: 30px;
    padding-bottom: 33px;
  }
}
.top-player__data-song .level {
  border: 0.5333333333vw solid #222222;
  border-radius: 6vw;
  color: #222222;
  width: 81.3333333333vw;
  padding: 2.9333333333vw 2.6666666667vw 3.2vw;
  text-align: center;
  position: relative;
}
@media only screen and (min-width: 751px) {
  .top-player__data-song .level {
    border-width: 2.4px;
    border-radius: 27px;
    width: 366px;
    padding: 13.2px 12px 14.4px;
  }
}
.top-player__data-song .level p {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 4.2666666667vw;
  font-weight: 500;
}
@media only screen and (min-width: 751px) {
  .top-player__data-song .level p {
    font-size: 19.2px;
  }
}
.top-player__data-song .level:before {
  content: attr(data-level);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 3.7333333333vw;
  font-weight: 700;
  border-radius: 2.4vw;
  width: 19.4666666667vw;
  height: 5.3333333333vw;
  position: absolute;
  top: -2.9333333333vw;
  transform: translateX(-50%);
  left: 50%;
  padding-top: 0.2666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__data-song .level:before {
    font-size: 16.8px;
    border-radius: 10.8px;
    width: 87.6px;
    height: 24px;
    top: -13.2px;
    padding-top: 1.2px;
  }
}
.top-player__data-song .level[data-level=EASY] {
  border-color: #3276ff;
}
.top-player__data-song .level[data-level=EASY]::before {
  background-color: #3276ff;
}
.top-player__data-song .level[data-level=NORMAL] {
  border-color: #0ae366;
}
.top-player__data-song .level[data-level=NORMAL]::before {
  background-color: #0ae366;
}
.top-player__data-song .level[data-level=HARD] {
  border-color: #f3d03d;
}
.top-player__data-song .level[data-level=HARD]::before {
  background-color: #f3d03d;
}
.top-player__data-song .level[data-level=EXPERT] {
  border-color: #ee4848;
}
.top-player__data-song .level[data-level=EXPERT]::before {
  background-color: #ee4848;
}
.top-player__data-song .level[data-level=SPECIAL] {
  border-color: #ee48c1;
}
.top-player__data-song .level[data-level=SPECIAL]::before {
  background-color: #ee48c1;
}
.top-player__graph {
  width: 100%;
  height: 70.8vw;
  margin-bottom: 13.3333333333vw;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__graph {
    height: 318.6px;
    margin-bottom: 60px;
  }
}
.top-player__graph:before {
  display: block;
  content: "";
  background: transparent url(../img/graph.png) no-repeat center top;
  background-size: 92vw auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__graph:before {
    background-size: 414px auto;
    height: 318.6px;
  }
}
.top-player__graph-wrap {
  position: absolute;
  z-index: 2;
  bottom: 6.5333333333vw;
  height: 54.6666666667vw;
  width: 100%;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-wrap {
    bottom: 29.4px;
    height: 246px;
  }
}
.top-player__graph-item {
  background-color: #222222;
  width: 9.3333333333vw;
  min-height: 10%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-item {
    width: 42px;
  }
}
.top-player__graph-item.is-easy {
  background-color: #a6c4ff;
  left: 14.4vw;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-item.is-easy {
    left: 64.8px;
  }
}
.top-player__graph-item.is-normal {
  background-color: #93ffc1;
  left: 30.1333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-item.is-normal {
    left: 135.6px;
  }
}
.top-player__graph-item.is-hard {
  background-color: #ffeb97;
  left: 46.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-item.is-hard {
    left: 210px;
  }
}
.top-player__graph-item.is-expert {
  background-color: #ffc4c4;
  left: 62.9333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-item.is-expert {
    left: 283.2px;
  }
}
.top-player__graph-item.is-special {
  background-color: #ffa9e8;
  left: 78.6666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-item.is-special {
    left: 354px;
  }
}
.top-player__graph-score {
  font-family: "Roboto", sans-serif;
  font-size: 4.4vw;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.05em;
  position: absolute;
  top: -12vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-score {
    font-size: 19.8px;
    top: -54px;
  }
}
.top-player__graph-score span {
  display: block;
}
.top-player__graph-score span:last-of-type {
  position: relative;
  padding-top: 0.5333333333vw;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-score span:last-of-type {
    padding-top: 2.4px;
  }
}
.top-player__graph-score span:last-of-type:before {
  display: block;
  content: "";
  background-color: #222222;
  width: 8vw;
  height: 2.4px;
  position: absolute;
  top: -0.2666666667vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-score span:last-of-type:before {
    width: 36px;
    height: 2.4px;
    top: -1.2px;
  }
}
.top-player__graph-percent {
  font-family: "Roboto", sans-serif;
  font-size: 5.6vw;
  font-weight: 900;
  text-align: center;
  letter-spacing: -0.05em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-player__graph-percent {
    font-size: 25.2px;
  }
}

.top-flyer__h2 {
  color: #222222;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 7.4666666667vw;
  font-weight: 900;
  margin-top: 10.6666666667vw;
  padding-left: 2.4vw;
  padding-bottom: 4vw;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-flyer__h2 {
    font-size: 33.6px;
    margin-top: 48px;
    padding-left: 10.8px;
    padding-bottom: 18px;
  }
}
.top-flyer__h2 span {
  color: #e34557;
}
.top-flyer__h2:after {
  display: block;
  content: "";
  background: transparent url(../img/parts_ink.png) no-repeat center/contain;
  width: 90.5333333333vw;
  height: 2.2666666667vw;
  position: absolute;
  bottom: 0;
  left: 0.2666666667vw;
}
@media only screen and (min-width: 751px) {
  .top-flyer__h2:after {
    width: 407.4px;
    height: 10.2px;
    left: 1.2px;
  }
}
.top-flyer__img {
  border: 0.2666666667vw solid #222222;
  margin-top: 10.6666666667vw;
  opacity: 0;
}
.top-flyer__img.js--show {
  opacity: 1;
}
@media only screen and (min-width: 751px) {
  .top-flyer__img {
    border-width: 1.2px;
    margin-top: 48px;
  }
}
.top-flyer__img img {
  pointer-events: auto;
}
.top-flyer__txt {
  margin: 2.6666666667vw auto 0;
  width: 56.9333333333vw;
  display: none;
}
@media only screen and (min-width: 751px) {
  .top-flyer__txt {
    margin-top: 12px;
    width: 256.2px;
  }
}
.top-flyer__btn {
  background-color: #e34557;
  border-radius: 5.7333333333vw;
  color: #fff;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 4.2666666667vw;
  font-weight: 900;
  margin: 4.6666666667vw auto 0;
  width: 52.2666666667vw;
  height: 11.7333333333vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9333333333vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (min-width: 751px) {
  .top-flyer__btn {
    border-radius: 25.8px;
    font-size: 19.2px;
    margin-top: 21px;
    width: 235.2px;
    height: 52.8px;
    gap: 4.2px;
    transition: all 300ms;
  }
  .top-flyer__btn:hover {
    opacity: 0.8;
  }
}
.top-flyer__btn span {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.top-flyer__btn:before {
  display: block;
  content: "";
  background-color: rgba(255, 161, 172, 0.4);
  clip-path: polygon(0 0, 100% 0%, 55% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 34.9333333333vw;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
@media only screen and (min-width: 751px) {
  .top-flyer__btn:before {
    width: 157.2px;
  }
}
.top-flyer__btn:after {
  display: block;
  content: "";
  border: 0.2666666667vw solid #ffa9b3;
  border-radius: 5.7333333333vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .top-flyer__btn:after {
    border-radius: 25.8px;
    border-width: 1.2px;
  }
}

.error__wrap {
  padding-top: 8vw;
}
@media only screen and (min-width: 751px) {
  .error__wrap {
    padding-top: 36px;
  }
}
.error__text {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 4.2666666667vw;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
@media only screen and (min-width: 751px) {
  .error__text {
    font-size: 19.2px;
  }
}
.error__text span {
  color: #e34557;
}
.error__img {
  margin-top: 9.3333333333vw;
}
@media only screen and (min-width: 751px) {
  .error__img {
    margin-top: 42px;
  }
}
.error__btn {
  background-color: #e34557;
  border-radius: 5.7333333333vw;
  color: #fff;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 4.2666666667vw;
  font-weight: 900;
  margin: 8vw auto 0;
  width: 58.6666666667vw;
  height: 11.7333333333vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9333333333vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media only screen and (min-width: 751px) {
  .error__btn {
    border-radius: 25.8px;
    font-size: 19.2px;
    margin-top: 36px;
    width: 264px;
    height: 52.8px;
    gap: 4.2px;
    transition: all 300ms;
  }
  .error__btn:hover {
    opacity: 0.8;
  }
}
.error__btn span {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.error__btn span:after {
  display: block;
  content: "";
  background: transparent url(../img/common/icon_arrow.png) no-repeat center center/contain;
  width: 3.7333333333vw;
  height: 2.6666666667vw;
  position: absolute;
  top: 50%;
  right: 5.3333333333vw;
  transform: translateY(-50%);
}
@media only screen and (min-width: 751px) {
  .error__btn span:after {
    width: 16.8px;
    height: 12px;
    right: 24px;
  }
}
.error__btn:before {
  display: block;
  content: "";
  background-color: rgba(255, 161, 172, 0.4);
  clip-path: polygon(0 0, 100% 0%, 65% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 34.9333333333vw;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
@media only screen and (min-width: 751px) {
  .error__btn:before {
    width: 157.2px;
  }
}
.error__btn:after {
  display: block;
  content: "";
  border: 0.2666666667vw solid #ffa9b3;
  border-radius: 5.7333333333vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media only screen and (min-width: 751px) {
  .error__btn:after {
    border-radius: 25.8px;
    border-width: 1.2px;
  }
}
/*# sourceMappingURL=sourcemaps/share.css.map */