@use './setting/setting' as *;
@use './setting/mixin' as *;

.common {
  &__main {
    position: relative;
    z-index: 1;
  }

  &__bg {
    @include min-screen() {
      display: block;
      background: transparent url(../img/common/bg_pc.png) no-repeat center
        center;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: -1;
    }
  }

  &__article {
    background: transparent url(../img/common/bg_repeat.png) repeat-y top center;
    background-size: 100% auto;
    width: 100%;
    margin: 0 auto;

    @include min-screen() {
      width: get_px(750);
      height: 100vh;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    padding: get_vw(20) get_vw(30) 0;
    margin: 0 auto get_vw(5);

    @include min-screen() {
      padding: get_px(20) get_px(30) 0;
      margin: 0 auto get_px(5);
    }
  }

  &__label-name,
  &__label-date {
    font-family: $font_baskerville;
    font-size: get_vw(16);
    font-weight: $w_bold;
    letter-spacing: -0.075em;

    @include min-screen() {
      font-size: get_px(16);
    }
  }

  &__h1 {
    width: 100%;
  }
}
