@use './setting/setting' as *;
@use './setting/mixin' as *;

.top-player {
  margin-top: get_vw(30);
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include min-screen() {
    margin-top: get_px(30);
  }

  &__pass {
    background-color: $c_red;
    box-shadow: get_vw(6) get_vw(8) 0 rgba($c_black, 0.1);
    margin-top: get_vw(40);
    padding: get_vw(20) get_vw(18) get_vw(18);
    position: relative;
    width: get_vw(690);
    transform: rotate(-4.45deg);
    z-index: 1;

    @include min-screen() {
      box-shadow: get_px(6) get_px(8) 0 rgba($c_black, 0.1);
      margin-top: get_px(40);
      padding: get_px(20) get_px(18) get_px(18);
      width: get_px(690);
    }

    @include before {
      pointer-events: none;
      background-color: rgba(#ffe1e1, 0.2);
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      width: get_vw(602);
      height: get_vw(178);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      @include min-screen() {
        width: get_px(602);
        height: get_px(178);
      }
    }
  }

  &__pass-ttl {
    font-family: $font_roboto;
    font-size: get_vw(61);
    font-weight: $w_black;
    color: $c_white;
    text-align: center;
    position: relative;
    z-index: 1;

    @include min-screen() {
      font-size: get_px(61);
    }

    &:before,
    &:after {
      content: '';
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    &::before {
      background-image: url(../img/parts_star_left.png);
      width: get_vw(52);
      height: get_vw(62);
      left: get_vw(3);

      @include min-screen() {
        width: get_px(52);
        height: get_px(62);
        left: get_px(3);
      }
    }

    &::after {
      background-image: url(../img/parts_star_right.png);
      width: get_vw(58);
      height: get_vw(63);
      right: get_vw(3);

      @include min-screen() {
        width: get_px(58);
        height: get_px(63);
        right: get_px(3);
      }
    }
  }

  &__identity {
    background-color: $c_white;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: get_vw(20) get_vw(30);
    margin-top: get_vw(8);

    @include min-screen() {
      padding: get_px(20) get_px(30);
      margin-top: get_px(8);
    }

    &:not(:first-of-type) {
      margin-top: get_vw(13);

      @include min-screen() {
        margin-top: get_px(13);
      }
    }

    dt,
    dd {
      font-family: $font_roboto;
      font-size: get_vw(35);
      font-weight: $w_medium;
      letter-spacing: -0.05em;

      @include min-screen() {
        font-size: get_px(35);
      }
    }

    dt {
      color: $c_red;
      width: get_vw(125);

      @include min-screen() {
        width: get_px(125);
      }
    }

    dd {
      width: calc(100% - get_vw(125));

      @include min-screen() {
        width: calc(100% - get_px(125));
      }

      &.top-player__identity-name {
        font-family: $font_zenkaku;
        font-size: get_vw(45);
        font-weight: $w_medium;

        @include min-screen() {
          font-size: get_px(45);
        }
      }
    }
  }

  &__data {
    padding-top: get_vw(100);

    @include min-screen() {
      padding-top: get_px(100);
    }
  }

  &__data-block {
    &:not(:first-of-type) {
      margin-top: get_vw(50);

      @include min-screen() {
        margin-top: get_px(50);
      }
    }
  }

  &__data-h2 {
    padding-bottom: get_vw(60);

    @include min-screen() {
      padding-bottom: get_px(60);
    }
  }

  &__data-inner {
    padding: 0 get_vw(70);

    @include min-screen() {
      padding: 0 get_px(70);
    }
  }

  &__data-item {
    h3 {
      background-color: $c_black;
      color: $c_white;
      text-align: center;
      font-family: $font_zenkaku;
      font-size: get_vw(34);
      font-weight: $w_bold;
      letter-spacing: -0.025em;
      padding: get_vw(2) get_vw(15) get_vw(5);
      position: relative;
      z-index: 1;

      @include min-screen() {
        font-size: get_px(34);
        padding: get_px(2) get_px(15) get_px(5);
      }

      &:before,
      &:after {
        content: '';
        display: block;
        background: transparent url(../img/parts_star.png) no-repeat center
          center;
        background-size: contain;
        width: get_vw(27);
        height: get_vw(26);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;

        @include min-screen() {
          width: get_px(27);
          height: get_px(26);
        }
      }

      &:before {
        left: get_vw(10);

        @include min-screen() {
          left: get_px(10);
        }
      }

      &:after {
        right: get_vw(10);

        @include min-screen() {
          right: get_px(10);
        }
      }
    }
  }

  &__data-txt {
    font-size: get_vw(48);
    font-weight: $w_medium;
    text-align: center;
    margin-top: get_vw(10);
    padding-bottom: get_vw(30);

    @include min-screen() {
      font-size: get_px(48);
      margin-top: get_px(10);
      padding-bottom: get_px(30);
    }

    .number {
      font-size: get_vw(108);
      color: $c_red;
      font-family: $font_roboto;
      font-weight: $w_bold;
      letter-spacing: -0.05em;

      @include min-screen() {
        font-size: get_px(108);
      }
    }

    &.txt-medium {
      font-size: get_vw(32);
      font-weight: $w_medium;
      line-height: calc(59.96 / 32);
      padding-bottom: get_vw(60);

      @include min-screen() {
        font-size: get_px(32);
        padding-bottom: get_px(60);
      }

      span {
        display: block;
        line-height: 1;
      }
    }
  }

  &__data-list {
    @include center;
    gap: get_vw(18);

    margin-top: get_vw(30);
    padding-bottom: get_vw(55);

    @include min-screen() {
      gap: get_px(18);
      margin-top: get_px(30);
      padding-bottom: get_px(55);
    }

    li {
      border: 1px solid $c_black;
      border-radius: get_vw(45);
      width: get_vw(190);
      height: get_vw(206);
      @include center;
      flex-direction: column;
      gap: get_vw(14);

      @include min-screen() {
        border-radius: get_px(45);
        width: get_px(190);
        height: get_px(206);
        gap: get_px(14);
      }

      p {
        text-align: center;
        font-size: get_vw(32);
        font-weight: $w_medium;

        @include min-screen() {
          font-size: get_px(32);
        }

        &:first-of-type {
          font-size: get_vw(28);
          font-weight: $w_bold;
          text-align: center;
          line-height: calc(31 / 28);

          @include min-screen() {
            font-size: get_px(28);
          }
        }
      }

      .number {
        font-family: $font_roboto;
        color: $c_red;
        font-size: get_vw(64);
        font-weight: $w_medium;

        @include min-screen() {
          font-size: get_px(64);
        }
      }
    }
  }

  &__data-name {
    color: $c_red;
    font-family: $font_zenkaku;
    font-size: get_vw(96);
    font-weight: $w_black;
    text-align: center;
    letter-spacing: -0.05em;
    padding-bottom: get_vw(50);

    @include min-screen() {
      font-size: get_px(96);
      padding-bottom: get_px(50);
    }
  }

  &__data-dtl {
    color: $c_black;
    font-family: $font_zenkaku;

    & > p {
      margin-top: get_vw(10);

      @include min-screen() {
        margin-top: get_px(10);
      }

      .number {
        font-size: get_vw(108);

        @include min-screen() {
          font-size: get_px(108);
        }
      }
    }

    &:has(.top-player__data-card) {
      .top-player__data-name {
        padding-bottom: 0;
      }
    }
  }

  &__data-card {
    color: $c_black;
    text-align: center;
    font-family: $font_zenkaku;
    font-size: get_vw(32);
    font-weight: $w_bold;
    margin-top: get_vw(20);

    @include min-screen() {
      font-size: get_px(32);
      margin-top: get_px(20);
    }

    .card-name {
      margin-top: get_vw(20);

      @include min-screen() {
        margin-top: get_px(20);
      }
    }
  }

  &__data-chara {
    position: relative;
    z-index: 1;
    margin-top: get_vw(20);

    @include min-screen() {
      margin-top: get_px(20);
    }

    p {
      width: get_vw(690);
      position: absolute;
      left: get_vw(30);
      bottom: get_vw(254);

      @include min-screen() {
        width: get_px(690);
        left: get_px(30);
        bottom: get_px(254);
      }
    }
  }

  &__data-song {
    @include center;
    flex-direction: column;
    gap: get_vw(40);
    margin-top: get_vw(50);
    padding-bottom: get_vw(55);

    @include min-screen() {
      gap: get_px(40);
      margin-top: get_px(50);
      padding-bottom: get_px(55);
    }

    .level {
      border: get_vw(4) solid $c_black;
      border-radius: get_vw(45);
      color: $c_black;

      width: get_vw(610);
      padding: get_vw(22) get_vw(20) get_vw(24);
      text-align: center;
      position: relative;

      @include min-screen() {
        border-width: get_px(4);
        border-radius: get_px(45);
        width: get_px(610);
        padding: get_px(22) get_px(20) get_px(24);
      }

      p {
        font-family: $font_zenkaku;
        font-size: get_vw(32);
        font-weight: $w_medium;

        @include min-screen() {
          font-size: get_px(32);
        }
      }

      &:before {
        content: attr(data-level);
        @include center;
        background-color: $c_black;
        color: $c_white;
        font-family: $font_roboto;
        font-size: get_vw(28);
        font-weight: $w_bold;
        border-radius: get_vw(18);
        width: get_vw(146);
        height: get_vw(40);
        position: absolute;
        top: get_vw(-22);
        transform: translateX(-50%);
        left: 50%;
        padding-top: get_vw(2);

        @include min-screen() {
          font-size: get_px(28);
          border-radius: get_px(18);
          width: get_px(146);
          height: get_px(40);
          top: get_px(-22);
          padding-top: get_px(2);
        }
      }

      &[data-level='EASY'] {
        border-color: $c_blue;

        &::before {
          background-color: $c_blue;
        }
      }

      &[data-level='NORMAL'] {
        border-color: $c_green;

        &::before {
          background-color: $c_green;
        }
      }

      &[data-level='HARD'] {
        border-color: $c_yellow;

        &::before {
          background-color: $c_yellow;
        }
      }

      &[data-level='EXPERT'] {
        border-color: $c_red_level;

        &::before {
          background-color: $c_red_level;
        }
      }

      &[data-level='SPECIAL'] {
        border-color: $c_pink;

        &::before {
          background-color: $c_pink;
        }
      }
    }
  }

  &__graph {
    width: 100%;
    height: get_vw(531);
    margin-bottom: get_vw(100);
    position: relative;
    z-index: 1;

    @include min-screen() {
      height: get_px(531);
      margin-bottom: get_px(100);
    }

    @include before {
      background: transparent url(../img/graph.png) no-repeat center top;
      background-size: get_vw(690) auto;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      @include min-screen() {
        background-size: get_px(690) auto;
        height: get_px(531);
      }
    }
  }

  &__graph-wrap {
    position: absolute;
    z-index: 2;
    bottom: get_vw(49);
    height: get_vw(410);
    width: 100%;

    @include min-screen() {
      bottom: get_px(49);
      height: get_px(410);
    }
  }

  &__graph-item {
    background-color: $c_black;
    width: get_vw(70);
    position: absolute;
    bottom: 0;
    z-index: 2;

    @include min-screen() {
      width: get_px(70);
    }

    &.is-easy {
      background-color: #a6c4ff;
      left: get_vw(108);

      @include min-screen() {
        left: get_px(108);
      }
    }

    &.is-normal {
      background-color: #93ffc1;
      left: get_vw(226);

      @include min-screen() {
        left: get_px(226);
      }
    }

    &.is-hard {
      background-color: #ffeb97;
      left: get_vw(350);

      @include min-screen() {
        left: get_px(350);
      }
    }

    &.is-expert {
      background-color: #ffc4c4;
      left: get_vw(472);

      @include min-screen() {
        left: get_px(472);
      }
    }

    &.is-special {
      background-color: #ffa9e8;
      left: get_vw(590);

      @include min-screen() {
        left: get_px(590);
      }
    }
  }

  &__graph-score {
    font-family: $font_roboto;
    font-size: get_vw(33);
    font-weight: $w_bold;
    text-align: center;
    letter-spacing: -0.05em;
    position: absolute;
    top: get_vw(-90);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include min-screen() {
      font-size: get_px(33);
      top: get_px(-90);
    }

    span {
      display: block;

      &:last-of-type {
        position: relative;
        padding-top: get_vw(4);

        @include min-screen() {
          padding-top: get_px(4);
        }

        @include before {
          background-color: $c_black;
          width: get_vw(60);
          height: get_px(4);
          position: absolute;
          top: get_vw(-2);
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;

          @include min-screen() {
            width: get_px(60);
            height: get_px(4);
            top: get_px(-2);
          }
        }
      }
    }
  }

  &__graph-percent {
    font-family: $font_roboto;
    font-size: get_vw(42);
    font-weight: $w_black;
    text-align: center;
    letter-spacing: -0.05em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;

    @include min-screen() {
      font-size: get_px(42);
    }
  }
}
